/**
 * Base styles
 */
html {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  margin: 0;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
  line-height: 1.52;
  color: #696871;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: #19191B;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Layout
 */
.wrapper {
  max-width: 1230px;
  padding: 0 5rem;   
  margin: auto;
}

.indent-bottom {
  margin-bottom: 9.4rem;
}

@media only screen and (max-width: 720px) {
  .wrapper {
    padding: 0 3.1rem;   
  }
}

@media only screen and (max-width: 450px) {
  .wrapper {
    padding: 0 1.9rem;
  }
}

@media only screen and (max-width: 900px) {
  .indent-bottom {
    margin-bottom: 4.7rem;
  }
}

@media only screen and (max-width: 720px) {
  .indent-bottom {
    margin-bottom: 3.1rem;
  }
}

/**
 * Header block
 */
.header {
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__button {
  white-space: nowrap;
}

@media only screen and (max-width: 900px) {
  .header__button {
    display: none;
  }
}

/**
 * Logo block
 */
@media only screen and (max-width: 1300px) {
  .logo {
    margin-right: 1.2rem;
  }
}

/**
 * Mobile-menu block
 */
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #E1E1E1;
  padding: 1rem;
}

.mobile-menu__checkbox, .mobile-menu__button {
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav {
     display: none;
  }

  .mobile-menu__button {
    display: block;
  }

  .mobile-menu__checkbox:checked + .mobile-menu {
    display: flex;
  }

  .mobile-menu__item {
    display: flex;
    justify-content: space-around;
  }
}

/**
 * Nav block
 */
.nav__link {
  display: inline-block;
  color: #696871;
  margin-right: 3rem;
  font-weight: 600;
  font-size: 0.94rem;
  line-height: 1.2;
  padding-bottom: 0.83rem;
  text-align: center;
}

.nav__link_active {
  color: #19191B;
  border-bottom: 2px solid #5454D4;
}

@media only screen and (max-width: 1300px) {
  .nav__link {
    margin-right: 1.9rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav__link {
    display: block;
    margin-right: 0;
  }

  .nav__link_active {
    margin-bottom: 0.31rem;
  }
}

/**
 * Button block
 */
.button {
  color: #FFFFFF;
  font-size: 1.06rem;
  line-height: 1.18;
  border-radius: 0.63rem;
  border: none;
  padding: 1.2rem 2.8rem;
  font-family: "DM Sans", sans-serif;
}

.button_primary {
  background: #FF7143;
}

.button_secondary {
  background: #5454D4;
}

.button_gray {
  color: #19191B;
  background: #F7F7FB;
}

.button_light {
  background: #FFFFFF;
  border: 1px solid #EAE9F2;
  color: #5454D4;
  font-weight: 500;
}

.button_dark {
  background: #9F3919;
  border: none;
  color: #FFFFFF; 
}

@media only screen and (max-width: 450px) {
  .button {
    padding: 0.9rem 1.6rem;
  }
}

/**
 * Button Group block
 */
.button-group {
  max-width: 21.5rem;
  border: 0.31rem solid #F7F7FB;
  background:#F7F7FB;
  border-radius: 0.63rem;
  display: flex;
}

.button-group__item {
  font-size: 1rem;
  line-height: 1.2;
  padding: 1.2rem 3.65rem;
}

.button-group__item:first-child {
  border-radius: 0.63rem 0 0 0.63rem;
}

.button-group__item:last-child {
  border-radius: 0 0.63rem 0.63rem 0;
}

@media only screen and (max-width: 1300px) {
  .button-group {
    margin-left: 1.9rem;
  }
}

@media only screen and (max-width: 900px) {
  .button-group {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  .button-group {
    flex-direction: column;
  }

  .button-group__item:first-child {
    border-radius: 0.63rem 0.63rem 0 0;
  } 

  .button-group__item:last-child {
    border-radius: 0 0 0.63rem 0.63rem;
  } 
}

/**
 * Hero block
 */
.hero {
  display: flex;
  justify-content: space-between;
  margin: 5.2rem -4.75rem 0 0;
}

.hero__text {
  max-width: 44%;
}


.hero__heading {
  font-size: 5rem;
  line-height: 1;
  margin: 5.75rem 0 1.9rem;
}

.hero__image {
  min-width: 0;
  align-self: flex-end;
}

.hero__buttons {
  display: flex;
  align-items: flex-end;
  margin-top: 3.13rem;
}

.hero__arrow-button {
  margin-left: 2.5rem;
}

.arrow-button {
  width: 3.75rem;
  height: 3.75rem;
  padding: 16px 16px 16px 17px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
}

@media only screen and (max-width: 1300px) {
  .hero__text {
    margin-right: 3rem;
  }

  .hero__heading {
    font-size: 3.75rem;
  }
}

@media only screen and (max-width: 900px) {
 .hero {
    flex-direction: column;
    margin-top: 0;
    margin-right: 0;
  }

  .hero__text {
    max-width: 80%;
    margin-bottom: 5.75rem;
    margin-right: 0;
    align-self: center;
  }

  .hero__heading {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .hero__text {
    max-width: 90%;
    margin-bottom: 3.1rem;
  }

  .hero__buttons {
    margin-top: 1.55rem;
  }

  .hero__arrow-button {
    margin-left: 8%;
  }
}

@media only screen and (max-width: 450px) {
  .hero__text {
    max-width: 100%;
  }

  .hero__heading {
    margin-top: 3.1rem;
  }

  .arrow-button {
    width: 3.13rem;
    height: 3.13rem;
    padding: 0.75rem 0.75rem 0.75rem 0.81rem;
  }
}

/**
 * Picture Group block
 */
.picture-group {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .picture-group {
    margin-top: 3.1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .picture-group__item {
    padding: 1.25rem;
  }
}

/**
 * Illustrated block
 */
.illustrated { 
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 4.7rem;
  align-items: center;
  padding-right: 6.6rem;
}

.illustrated__text {
  max-width: 29rem;
}

.illustrated__heading {
  font-size: 3.1rem;
  line-height: 1.15;
  margin: 0;
}

.illustrated__paragraph {
  margin: 1.87rem 0;
}

.illustrated__link {
  color: #5454D4;
  font-size: 1.06rem;
  line-height: 1.18;
  font-weight: 700;
}

.illustrated_reverse {
  flex-direction: row;
}

@media only screen and (max-width: 1300px) {
  .illustrated__heading {
    font-size: 2.5rem;
    line-height: 1.12;
  }

  .illustrated {
    margin-left: -1rem;
  }

  .illustrated__text, .illustrated__image {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .illustrated {
    padding-right: 0;
  }

  .illustrated__image {
    max-width: 50%;
  }
}

@media only screen and (max-width: 720px) {
  .illustrated {
    flex-wrap: wrap;
    max-width: 80%;
    margin-top: 4.7rem;
    margin-left: auto;
    margin-right: auto;
  }
 
  .illustrated__image {
    max-width: 100%;
    margin: 1.56rem auto 0;
  }

  .illustrated__heading {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .illustrated {
    max-width: 100%;
  }
}

/**
 * Benefits block
 */
.benefits {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: -1.56rem;
  margin-right: -1.56rem;
}

@media only screen and (max-width: 720px) {
  .benefits {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

/**
 * Benefit block
 */
.benefit {
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  align-items: center;
  margin: 0 0.82rem;
}

.benefit__image {
  margin-left: 2.7rem;
}

.benefit__heading {
  margin: 1.25rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.benefit__paragraph {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}


@media only screen and (max-width: 720px) {
  .benefit {
    margin: 2rem auto 2.5rem;
  }
}

/**
 * Offer block
 */
.offer {
  display: flex;
  flex-direction: column;
}

.offer__header {
  display: flex;
  align-items: center;
  margin-bottom: 5.1rem;
  margin-right: -1.3rem;
}

.offer__heading {
  max-width: 34rem;
  font-size: 3.75rem;
  line-height: 1.17;
  margin: 0 auto 0 0;
}

.offer__pricing {
  display: flex;
  margin: 0;
}

@media only screen and (max-width: 1300px) {
  .offer__header {
    margin-right: 0;
  }

  .offer__heading {
    font-size: 2.81rem;
    line-height: 1.1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .offer__header {
    flex-wrap: wrap;
    margin-bottom: 3.1rem;
  }
 
  .offer__heading {
    text-align: center;
    margin-bottom: 1.55rem;
  }

  .offer__pricing {
    flex-direction: column;
  }
}

@media only screen and (max-width: 720px) {
  .offer__heading {
    font-size: 2.19rem;
    line-height: 1.14;
  }
}

/**
 * Pricing Plan block
 */
.pricing-plan {
  background: #F8F8F8;
  border-radius: 0.63rem;
  margin: 1rem 0;
  padding: 0 1.3rem 1.7rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20.6rem;
}

.pricing-plan__level {
  color: #696871;
  font-size: 1.12rem;
  line-height: 1.56;
  margin: 2.12rem 0 1.38rem 0;
  font-weight: 400;
}

.pricing-plan__heading {
  margin: 0 0 2.33rem 0;
  color: #1D293F;
  font-size: 3.75rem;
}

.pricing-plan__cost-period {
  font-size: 1.75rem;
}

.pricing-plan_list {
  font-size: 1.06rem;
  line-height: 2.94;
  font-family: "Mulush", sans-serif;
  text-align: center;
  margin: auto;
 }
 
.pricing-plan__button { 
  width: 100%;
  margin-top: 2.25rem;
  padding: 1.2rem;
}

.pricing-plan_optimal {
  background: #FF7143;
  color: #FFFFFF;
  margin: 0 1.38rem;
  padding: 0 2.2rem 2.7rem;
  max-width: 23.5rem;
}

.pricing-plan_optimal > .pricing-plan__level {
  margin-top: 3.1rem;
  color: rgba(255, 255, 255, 0.7);
}

.pricing-plan_optimal > .pricing-plan__heading {
  color: inherit;
}

@media only screen and (max-width: 1300px) {
  .pricing-plan {
    width: 30%;
    max-width: 100%;
  }

  .pricing-plan_optimal {
    width: 35%;
  }

  .pricing-plan__heading {
    font-size: 3.12rem;
    line-height: 1.19;
  }
}

@media only screen and (max-width: 900px) {
  .pricing-plan {
    max-width: 100%;
    width: 22rem;
    margin: 1.56rem auto;
    min-height: 27.8rem;
    justify-content: space-around;
  }

  .pricing-plan_optimal {
    max-width: 100%;
    width: 24rem;
    margin: auto;    
  }

  .pricing-plan_optimal > .pricing-plan__level {
    margin-top: 2.13rem;
  }
}

@media only screen and (max-width: 720px) {
  .pricing-plan__heading {
    font-size: 2.5rem;
  }
}
