* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #FFFFFF;
}
p {
    font-family: "Mulish";
    font-size: 20px;
    line-height: 30px;
    color: #696871;
}
h1, h2, h3, h4, h5 {
    color: #19191B;
}
.wrapper {
    max-width: 1440px;
    padding: 0 186px 158px 184px;   
    font-family: "DM Sans";
    margin: auto;
}
.header {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}
.header img {
    max-width: 200px;
    height: 41px;
}
.header nav ul {
    padding: 0;
    margin-left: 48px;
    /* Если выше не прописать паддинг 0, слева будет 40. Откуда он берется, какой-то дефолтный у ul? */
}
.header nav ul li {
    display: inline-block;
}
.header nav ul li a {
    text-decoration: none;
    color: #696871;
    margin-right: 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    

}
.header nav ul li:first-child a {
    /* Pizdec elegantno, sekonomil na celom odnom klasse*/
    display: inline-block;
    width: 42px;
    color: #19191B;
    padding-bottom: 10px;
    border-bottom: 2px solid #5454D4;
}
.get-started-button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    padding: 19px 60px 19px 59px;
    background: #FF7143;
    border-radius: 10px;
    width: 211px;
    heoght: 60px;
}
.content-box-first {
    display: flex;
    margin: 100px -76px 0 0; 
}
.content-box-first-wrapper {
    max-width: 462px;
    margin-right: auto;
    position: relative;
}
.content-box-first-wrapper h1 {
    font-size: 80px;
    line-height: 77px;
    margin: 92px 0 30px 0;
}
.content-box-first-wrapper p {
    padding: 0 30px 0 0;
    margin-bottom: 50px;
}
.content-box-first-wrapper .get-started-button {
    background: #5454D4;
}
.content-box-first-wrapper img {
      margin-left: 40px;
      position: absolute;
      bottom: 93px;
      padding: 16.75px;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
}
.picture-group {
    margin: 100px 0 150px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-box-second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 105px 83px 0;
    /* лучше переделать на margin right - auto */
    align-items: center;
}
.content-box-second-wrapper {
    max-width: 459px;
}
.content-box-second-wrapper h3 {
font-size: 50px;
line-height: 57px;
margin: 0;
}
.content-box-second-wrapper p {
margin: 30px 0;
padding-right: 45px;
}
.content-box-second-wrapper a {
    text-decoration: none;
    color: #5454D4;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}
.content-box-second:nth-of-type(2) {
    flex-direction: row;
}
.content-box-third {
    display: flex;
    justify-content: space-between;
    margin: 150px 0;
}
.content-box-block {
    display: flex;
    max-width: 307px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box-block h4 {
    margin: 20px 0;
    font-size: 24px;
    line-height: 36px;
}
.content-box-block p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-right: 20px;
}
.content-box-fourth {
    margin: 0 -21px 82px 0px;
    /*выравнивать дальше!*/
    display: flex;
    align-items: center;
}
.content-box-fourth h2 {
    max-width: 523px;
    font-size: 60px;
    line-height: 70px;
    margin: 0 auto 0 0;
}
.content-box-fourth a {
    display: inline-block;
    width: 171px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 18px 0 16px 0;
    background: #5454D4;
    border-left: 6px solid #F7F7FB;
    border-top: 6px solid #F7F7FB;
    border-bottom: 6px solid #F7F7FB;
    border-radius: 10px 0 0 10px;
}
.content-box-fourth a:nth-of-type(2) {
    color: #19191B;
    background: #F7F7FB;
    border-left: none;
    border-right: 6px solid #F7F7FB;
    border-radius: 0 10px 10px 0;
}
.content-box-fifth {
    display: flex;
    margin: 0;
}
 .block-offer {
    background: #F8F8F8;
    border-radius: 10px;
    margin: 16px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
}
 .block-offer h5 {
    color: #696871;
    font-size: 18px;
    line-height: 28px;
    margin: 34px 0 22px 0;
    font-weight: normal;
 }
 .block-offer h2 {
    margin: 0 0 28px 0;
    color: #1D293F;
    font-size: 60px;
 }
 .block-offer h2 span {
    font-size: 28px;
 }
 .block-offer p {
    margin: 0;
    font-size: 17px;
    line-height: 50px;
 }
 .block-offer a {
    text-decoration: none;
    display: inline-block;
    color: #5454D4;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    width: 86.3%;
    padding: 19px 0;
    text-align: center;
    margin: 36px 0 27px 0;

 }
.content-box-fifth .active {
    background: #FF7143;
    flex-grow: 1;
    margin: 0 15px 0 18px;
    max-width: 376px;
}
.content-box-fifth .active h5 {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.7);
}
.content-box-fifth .active p,  .content-box-fifth .active h2, .content-box-fifth .active span {
     color: #FFFFFF
}
.content-box-fifth .active a {
background: #9F3919;
color: #FFFFFF;
border: none;
}



